<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login to Doodle World</title>
    <meta name="author" content="Danial Qureshi">
    <meta name="keywords" content="Doodle, doodle, creative, art, creativity, profiles, login, pictures are saved, drawing, online, 
    sketching, painting, doodling, draw,io, drawio, draw.io, scribble, paint, 
        draw, drawmything, fun, free, friends, multiplayer"/>
    <meta name="description" content="Doodle World is a free drawing game, where users can draw doodles that 
        are saved to their account and view the doodles of their friends. It is free to play!/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: 'Asap', sans-serif;
        }
    </style>
</head>

<body>
    <div class="header-container">
        <header>Login!</header>
    </div>

    <div class="page">
        <ul>
            <% if(login_msg_obj.errors.length > 0) { login_msg_obj.errors.forEach((obj) => { %>
            <li><%= obj.msg %></li>
            <% }) } %>
        </ul>
        <% if(login_msg_obj.msg.length > 0) { %>
        <div class="success-msg"> <%= login_msg_obj.msg %></div>
        <% } %>

        <form action="/users/login" method="POST" class="speaker-form">
            <!--post when you’re changing data on the server, 
                reserving get for when you’re only getting data.-->
            <div class="form-row">

                <label for="username">Username</label>
                <input id="username" name="username" type='text' placeholder="Enter Username" />
                <label for="password">Password</label>
                <input id="password" name="password" type='password' placeholder="Enter Password" />
                <button type='submit' id="login" name="submit" value="Login">Login</button>
            </div>
        </form>
    </div>
    <div class="header-container">
        <header>Don't Have an Account? Sign Up!</header>
    </div>
    <div class="page">
        <form action="/users/register" method="POST" class="speaker-form">
            <div class="form-row">

                <label for="email">Email</label>
                <input id="email" name='email' type="email" placeholder="you@example.com" />

                <label for="reg_username">Username</label>
                <input id="reg_username" name="reg_username" type='text' placeholder="Enter Username" />
                <label for="reg_password">Password</label>
                <input id="reg_password" name="reg_password" type='password' placeholder="Enter Password" />
                <label for="confirm_reg_password">Re-enter</label>
                <input id="confirm_reg_password" name="confirm_reg_password" type='password'
                    placeholder="Confirm Password" />
                <button type='submit' id="signup" name="submit" value="Register">Sign Up</button>
            </div>
        </form>
    </div>
</body>

</html>